*.o
*.gmo
*.po~
*.po
*.pot
*.pyc
*.lo
*.la
.deps
.libs
*.conf
*.tar.gz
config.*
Makefile.in
Makefile
stamp-*
missing
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
mkinstalldirs
LINGUAS
POTFILES
libtool
ltmain.sh
