*.conf
*.gmo
*.la
*.lo
*.o
*.po
*.pot
*.pyc
*.tar.gz
*~
.deps
.libs
LINGUAS
Makefile
Makefile.in
POTFILES
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-*
